<h1><%= @item.name%></h1>

<ul>
  <li>
    價格：<%= @item.price %>元
  </li>
  <li>
    <p>介紹：</p>
    <%= @item.description %>
  </li>
  <li>
    <p>備註：</p>
    <%= @item.spec %>
  </li>
</ul>

<hr>
<h3>留言</h3>
<%= form_for(@comment, url: item_comments_path(@item)) do |form| %>
<div>
  <%= form.text_area :content %>
</div>
  <%= form.submit %>
<% end %> 