<!DOCTYPE html>
<html>
  <head>
    <title>Dinbandon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:ccc9527] %>
      <div>
        哈囉！<%= session[:ccc9527] %> | 
        <a href="/logout">登出</a> 
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
